{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Deteksi Plat Nomer</title>
        {% tailwind_css %}
    </head>
    <body>
        {% comment %}
        <img src="{% url 'video_feed' %}" alt="" />
        <img src="{% url 'webcam_feed' %}" alt="" />
        {% endcomment %}
        <div class="pt-36 pb-36">
            <div class="container">
                <div class="flex flex-wrap">
                    <div class="w-full self-center px-4 lg:w-1/2">
                        <h2>Live Video Stream</h2>
                        <img
                            src="{% url 'video_plate_feed' %}"
                            alt="Live Stream"
                            class="border-dashed border-2 border-primary rounded-3xl mt-2"
                        />

                        <button
                            onclick="captureROI()"
                            class="mt-3 rounded-full bg-primary px-5 py-2.5 text-base font-semibold text-white transition duration-300 ease-in-out hover:opacity-80 hover:shadow-lg md:px-8 md:py-3"
                        >
                            Capture ROI
                        </button>
                    </div>

                    <div class="w-full self-center px-4 lg:w-1/2">
                        <h2>Region of Interest (ROI)</h2>
                        <img
                            id="roiImage"
                            src="{% static 'roi_placeholder.png' %}"
                            alt="ROI will appear here"
                            class="w-full border-2 border-primary border-dashed rounded-3xl cursor-pointer bg-primary-50 hover:bg-primary-100 mt-2"
                        />

                        <h2 class="mt-5">OCR Result</h2>
                        {% comment %}
                        <p
                            id="ocrText"
                            class="border-primary-300 border-solid rounded-lg"
                        ></p>
                        {% endcomment %}
                        <div class="relative w-full mt-2">
                            <div
                                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                            >
                                <svg
                                    class="w-4 h-4 text-gray-500"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M15 4V2M15 16V14M8 9H10M20 9H22M17.8 11.8L19 13M17.8 6.2L19 5M3 21L12 12M12.2 6.2L11 5"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </div>
                            <input
                                type="text"
                                id="ocrText"
                                class="bg-gray-50 border border-primary text-gray-900 text-sm rounded-lg block w-full ps-10 p-2.5"
                                placeholder="OCR Result will appear hear"
                                disabled
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            {% comment %} function captureROI() {
                fetch("{% url 'capture_roi' %}")
                    .then((response) => response.blob())
                    .then((blob) => {
                        var url = URL.createObjectURL(blob);
                        document.getElementById("roiImage").src = url;
                    })
                    .catch((error) =>
                        console.error("Error capturing ROI:", error)
                    );
            } {% endcomment %}
            function captureROI() {
            fetch("{% url 'capture_roi' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.image) {
                        document.getElementById("roiImage").src = data.image;
                        document.getElementById("ocrText").value = data.text;
                    } else if (data.error) {
                        document.getElementById("ocrText").value = data.error;
                    }
                })
                .catch(error => console.error("Error capturing ROI:", error));
            }
        </script>
    </body>
</html>
