<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Deteksi Plat Nomer</title>
    </head>
    <body>
        {% comment %}
        <img src="{% url 'video_feed' %}" alt="" />
        <img src="{% url 'webcam_feed' %}" alt="" />
        {% endcomment %}
        <h2>Live Video Stream</h2>
        <img src="{% url 'video_plate_feed' %}" alt="Live Stream" />

        <button onclick="captureROI()">Capture ROI</button>

        <h2>Region of Interest</h2>
        <img id="roiImage" src="" alt="ROI will appear here" />

        <h2>OCR Result</h2>
        <p id="ocrText">OCR result will appear here</p>

        <script>
            {% comment %} function captureROI() {
                fetch("{% url 'capture_roi' %}")
                    .then((response) => response.blob())
                    .then((blob) => {
                        var url = URL.createObjectURL(blob);
                        document.getElementById("roiImage").src = url;
                    })
                    .catch((error) =>
                        console.error("Error capturing ROI:", error)
                    );
            } {% endcomment %}
            function captureROI() {
            fetch("{% url 'capture_roi' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.image) {
                        document.getElementById("roiImage").src = data.image;
                        document.getElementById("ocrText").textContent = data.text;
                    } else if (data.error) {
                        document.getElementById("ocrText").textContent = data.error;
                    }
                })
                .catch(error => console.error("Error capturing ROI:", error));
            }
        </script>
    </body>
</html>
